@import '../../styles/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: $primaryColor;
  padding: 0;
  cursor: pointer;
  font-weight: 700;

  &.filled {
    padding: 5px 20px;
    height: 40px;
    background-color: $primaryColor;
    color: $primaryTextColor;
    border-radius: 6px;
  }
}
