@import '../../styles/variables';

.container {
  min-height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(150deg, transparent, #e0e5ff 90%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
