@import './variables';

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

html body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily, sans-serif;
  font-weight: 100;
}

button {
  font-family: $fontFamily, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: $primaryColor;
}

.main-content {
  max-width: 1150px;
  width: 100%;

  &.center {
    margin: 0 auto;
  }
}
